@model IEnumerable<Assignment_3.Models.Menu>
<!--
File   : Menu.aspx
Author : Nisarg Patel & Jinal Patel
Website: http://patang.azurewebsites.net/
Description:  This page has Menu with images and style. -->



<style>
    hr{
        color:black
    }
    h3,h2#col{
        color: #1c1c9b;
        font-family:'Lucida Handwriting'
    }
    .thumbnail{
        background-color:#a9a9fb;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:medium
    }
    
</style>
<h2 id="col">About Me...</h2>
<hr class="small" style="border:groove">
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-4">
            <div class="thumbnail">
                <h3 id="col"> Side Dish:-</h3>

                <div class="caption">
                    <p>
                        
                            @Html.ActionLink("Butter Milk", "Index", "ButterMilks")
                        <br />flavored Indian buttermilk. It is made with plain yogurt, green chili, cilantro and spices.
                        <img class="img-responsive" src="~/Assets/Images/Masala-Chaas.jpg" />
                        <br /><b>$ 15.00</b>
                    </p>
                    <p>
                        <a>
                            @Html.ActionLink("Sambharo", "Index", "Sambharoes")
                        </a>
                        <br />Cabbage sambharo is nothing but the Gujarati style warm cabbage salad.
                        <img class="img-responsive" src="~/Assets/Images/Sambharo.jpg" />
                        <br /><b>$ 20.00</b>
                    </p>
                    <p>
                        <a>
                            @Html.ActionLink("Chutney", "Index", "Chutneys")
                        </a>
                        <br />Coriander chutney or Cilantro chutney or Dhaniya Chutney Whatever name you want give it.
                        <img class="img-responsive" src="~/Assets/Images/Coriander chutney.jpg" />
                        <br /><b>$ 10.00</b>
                    </p>
                    <p>
                        <a>
                            @Html.ActionLink("Pickle", "Index", "Pickles")
                            <img class="img-responsive" src="~/Assets/Images/Pickle.jpg" />
                        </a>
                        <br />Aam Ka Achaar(Spicy Raw Mango Pickle)
                        <br /><b>$ 10.00</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-4">
            <div class="thumbnail">
                <h3> Main dish:-</h3>

                <div class="caption">
                    <p>
                        <a>
                            @Html.ActionLink("Mini Dish", "Index", "MiniDishes")
                        </a>
                        <br />Gujarati Mini Thali(Dish) Recipe Ideas is the place where you can find a few of the vast range of Gujarati recipes.
                        <img class="img-responsive" src="~/Assets/Images/Mini-Dish.jpg" />
                        <br /><b>$ 150.00</b>
                    </p>
                    <p>
                        <a>
                            @Html.ActionLink("Full Dish(2 Side Dish and 1 Dessert of your choice)", "Index", "FullDishes")
                        </a>
                        <br />Gujarati Thali(Dish) Recipe Ideas is the place where you can find the vast range of Gujarati recipes.
                        <img class="img-responsive" src="~/Assets/Images/Full-Dish.jpg" />
                        <br /><b>$ 180.00</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-8 col-md-4">
            <div class="thumbnail">
                <h3> Desserts:-</h3>

                <div class="caption">
                    <p>
                        <a>
                            @Html.ActionLink("Rice kheer", "Index", "RiceKheers")
                        </a>
                        <br />Instant rice kheer recipe made with cooked, leftover rice, milk and sweetened condensed milk.
                        <img class="img-responsive" src="~/Assets/Images/Rice Kheer.jpg" />
                        <br /><b>$ 25.00</b>
                    </p>
                    <p>
                        <a>
                            @Html.ActionLink("Ice Cream(Dry-Fruit, Kaju-pista)", "Index", "IceCreams")
                        </a>
                        <br />Easy to make basic and eggless ice cream recipe.
                        <img class="img-responsive" src="~/Assets/Images/Ice-Cream.jpg" />
                        <br /><b>$ 15.00</b>
                    </p>
                    <p>
                        <a>
                            @Html.ActionLink("Lassi(Mango,Pineapple,Regular)", "Index", "Lassis")
                        </a>
                        <br />a chilled beverage to beat the summer heat. It is made from mangoes, sugar and yogurt with pinch of cardamom powder.
                        <img class="img-responsive" src="~/Assets/Images/Mango-Lassi.jpg" />
                        <br /><b>$ 20.00</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

