@model IEnumerable<Assignment_3.Models.ButterMilk>
<style>
    hr {
        color: black;
    }

    h2#col {
        color: #1c1c9b;
        font-family: "Comic Sans MS", cursive, sans-serif;
    }

   th{
    text-align: center;
     color:  #1c1c9b;
     font-family: "Comic Sans MS", cursive, sans-serif;
 font-size: 30px;
}
td{
    background-color:#aeaeae;
    font-family:  "Comic Sans MS", cursive, sans-serif;   
 color:   #1c1c9b;
  font-weight: 900;
 font-size: 15px;
  text-align: center;
}
</style>
<div class="col-md-12">
    <h2 id="col">Butter Milk</h2>
    <hr class="small" style="border:groove" />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailedDecs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailedDecs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
        }
        <img class="img-responsive" src="~/Assets/Images/Masala-Chaas.jpg" width="400" height="300"/>
    </table>
</div>